$base-color: #063693;
$form-color: #F0F4FD;
$dark-blue: #06296C;
$green-color: #00AA63;

@media only screen and (min-width : 320px) and (max-width : 480px) {
    /*--- Mobile portrait ---*/
}

@media only screen and (min-width : 480px) and (max-width : 595px) {
    /*--- Mobile landscape ---*/

    body {
        // background: black;
    }
    nav{
        // background: #F0F4FD;
        // height: 30px;
        padding: 30px 0px;
    }

    .btn-mobile{
        bottom: 40px;
        left: 30px;
    }
    .navbar {
       
        display: none;
    }
    .mobile{
        position: relative;
        // transition: all 0.6s ease-in-out;
        margin: 50px 0px 0px 0px;
        width: 100%;
        height:  auto;
        padding: 20px;
        background: $base-color;
        display: none;
        z-index: 1000;
    }
    .nav-logo {
        left: 30px;

    
    }
    .nav-links {
        display: inline-block;
        min-width: 80%;
        height: 50px;
        line-height: 50px;
        
        color: #fff;
        margin: 10px 0px;
        padding: 0px 5px;
    
    
    }

    
    

    .nav-menu{
    //    width: 100px;
       padding: 20px;
        color: #fff;
        position: absolute;
        top: 10px;
        right: 0px;
        // margin-right: -40px;
        font-size: 26px;
       

        img{
            filter: brightness(0) invert(1);
        }
    }

    main {
        height: 615px;
    }

    .home-content {
       ;
        display: block;
        justify-content: none;

        .text-hidden{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin: 10px;
            display: block;
        }

        .home-intro {
            height: 100px;

            h1 {
                font-size: 36px;
                line-height: 48px;
                margin: 0px;
            }

            .display-box {
                visibility: hidden;
            }
        }

    }

    .home-card {
        margin: 20px 5px;
        width: 420px;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        position: relative;
        z-index: 100;
    }

    //home-secondary
    .home-secondary {
        display: block;
        position: relative;
        justify-content: none;
        // margin: 100px 0px 0px 0px;

        .home-text {
            position: relative;
            top: 50px;
            right: 20px;
            margin: 50px 20px;
        }

        h1 {
           
            color: #fff;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            display: inline;
            align-items: center;
        }

        p {
            font-size: 20px;
            font-weight: light;
            color: #fff;
        }

        .home-icons {
          display: inline-flex;
          position: absolute;
          top: 100px;
          right: 160px;
          float: left;
          padding: 20px;
          height: 200px;

        }

        .icon-box {
            cursor: pointer;
            background: #fff;
            width: 60px;
            height: 60px;
            border-radius: 20px;
          


            img {
                margin: 10px;
                width: 40px;
                height: 40px;

            }
        }
    }

    //what-we-do

    .what-we-do {
        display: block;
        justify-content: none;
        padding: 20px;
        margin: 0px;

        .ij-grid {
            width: auto;
            padding: 10px;


        }
    }

    //ij-trust
    .ij-trust {
        display: block;
        background: $base-color;
        width: 100%;
        height: 500px;
        position: relative;
    
    
    
        .cutout {
            display: none;
        
        }

    
        .ij-trust-text {
            width: 100%;
            padding: 20px;
        }
    
        .trust-view {
            width: 100%;
            display: block;
            margin: 10px 0px;
    
    
            .trust-images {
                width: 200px;
                height: 50px auto;
                padding: 5px;
                margin: 0px 150px;
            }
    
            img {
                width: 100%;
            }
    
    
    
    
        }
    }

    //..booked page ..//

    .wrapper{
        display: none;
    }
    .bookings{
        position: relative;
        top: -20px;
        margin: 0px;
        display: block;
        height: auto;
        width: 100%;
        padding: 0px;
        padding-bottom: 100px;
        
        .tabs{
            width: 70px;
            position: relative;
            margin: 1px 28px;
            img {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 10px;
                left: -40px;
            }
    
            p {
                font-size: 16px;
                font-weight: bold;
                color: $base-color;
    
            }
    
            span {
                display: none;
                color: #999;
                font-size: 10px;
                font-weight: bold;
            }
    
            hr {
                width: 150%;
               display: none;
                margin: 0px !important;
            }
    
            .tabs:nth-child(3) hr {
                display: none;
                width: 100%;
            }
    
            hr.tab-active {
                display: inline;
                top: 70px;
                left: -40px;
                height: 3px;
                background: $base-color;
            }
        }
        
        .tab-control{
            margin: 50px 0px;
        }

        .booking-box {
            width: 100%;
            margin: 0px;
          
    
        }

        .booking-box div{
            width: auto;
        }
    }

    .booking-ticket{
        display: none;
    }

    //next-page
    .home-footer{
        display: inline-block;
        .home-footer-body{
            width: 100%;
            position: absolute;
            top: 10px;
            left: 0;
            display: inline-block;

            p {
                padding: 10px 0px;
                font-size: 14px;
                color: #fff;
                font-weight: 250;
            }
        }
    }

    .next-page{
        display: block;
        .display-left{
            width: 100%;
            .card-box{
                width: auto;

                .ticket-time{
                    margin: 30px 10px; 
                }
            }
        }
        .display-right{
            width: 100%;
            .card-box{
                width: auto;

                .ticket-time{
                    margin: 30px 10px; 
                }
            }
            .card-box {
                width: 100%;
                height: 250px auto;
                padding: 20px;
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(176, 176, 176, 0.25);
    
    
    
                .cardbox-body {

                    p {
                        width: auto;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #3B567F;
                    }
                }
            }
            
        }
    }

    .btn-notRounded{
        bottom: -61rem;
        left: 50px;

    }

    .sticky{
        left: 10px;
        bottom: -10px;
    }

    .sticky-green{
        bottom: -920px;
        left: 10px;
    }

    //section-page
    .section-page{
        display: block;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        padding-bottom: 20px;

        .home-footer{
            display: inline-block;
            .home-footer-body{
                width: 100%;
                position: absolute;
                top: 10px;
                left: 0;
                display: inline-block;
    
                p {
                    padding: 10px 0px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 250;
                }
            }
        }
    
        .display-left{
            top: 0px;
            width: 100%;
            
            .card-box{
                width: auto;
                height: auto;
                padding: 10px 0px;
                padding-bottom: 50px;
                margin: 0px 0px 200px 0px;

                .ticket-time{
                    margin: 30px 10px; 
                }

                .cardform-input{
                    width: 90%;
                }
            }
        }
        .display-right{
            width: 100%;
            .card-box{
                width: auto;

                .ticket-time{
                    margin: 30px 10px; 
                }
            }
            .card-box {
                width: 100%;
                height: 250px auto;
                padding: 20px;
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(176, 176, 176, 0.25);
    
    
    
                .cardbox-body {

                    p {
                        width: auto;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #3B567F;
                    }
                }
            }
            
        }
    }
    
    //section2-page
    .section2-page{
        display: block;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        padding-bottom: 200px;

        .home-footer{
            display: inline-block;
            .home-footer-body{
                width: 100%;
                position: absolute;
                top: 10px;
                left: 0;
                display: inline-block;
    
                p {
                    padding: 10px 0px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 250;
                }
            }
        }
    
        .display-left{
            top: 0px;
            width: 100%;
            
            .card-box{
                width: auto;
                height: auto;
                padding: 10px 0px;
                padding-bottom: 50px;
                margin: 0px 0px 200px 0px;

                .ticket-time{
                    margin: 30px 10px; 
                }

                .cardform-input{
                    width: 90%;
                }
            }

            .card-extra{
                height: 250px;
                margin-bottom: -70px;
                .alert{
                    width: 80%;
                }
            }
            .card-kill{
                margin-bottom: -100px;
            }
        }
        .display-right{
            width: 100%;
            .card-box{
                width: auto;

                .ticket-time{
                    display: none;
                    margin: 0px 10px; 
                }
            }
            .card-box {
                width: 100%;
                height: 250px auto;
                padding: 20px;
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(176, 176, 176, 0.25);
    
    
    
                .cardbox-body {

                    p {
                        width: auto;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #3B567F;
                    }
                }
            }
            
        }
    }
    

//end

}



@media only screen and (min-width : 595px) and (max-width : 690px) {
    /*--- Small tablet portrait ---*/
}

@media only screen and (min-width : 690px) and (max-width : 800px) {
    nav{
        display: none;
    }
    main {
        height: 92vh;
    }

    .home-content {
        display: block;
        justify-content: none;

        .text-hidden{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin: 10px;
            display: block;
        }

        .home-intro {
            height: 100px;

            h1 {
                font-size: 48px;
                line-height: 48px;
                margin: 0px;
            }

            .display-box {
                visibility: hidden;
            }
        }

    }

    .home-card {
        margin: 20px 0px 0px 20px;
        width: 95%;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        position: relative;
        z-index: 100;
    }

    //home-secondary
    .home-secondary {
        display: block;
        position: relative;
        justify-content: none;

        .home-text {
            position: relative;
            top: 50px;
            right: 20px;
            margin: 50px;
        }

        h1 {
           
            color: #fff;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            display: inline;
            align-items: center;
        }

        p {
            font-size: 20px;
            font-weight: light;
            color: #fff;
        }

        .home-icons {
          display: inline-flex;
          position: absolute;
          top: 100px;
          right: 340px;
          float: left;
          padding: 20px;
          height: 200px;

        }

        .icon-box {
            cursor: pointer;
            background: #fff;
            width: 60px;
            height: 60px;
            border-radius: 20px;
          


            img {
                margin: 10px;
                width: 40px;
                height: 40px;

            }
        }
    }

    //what-we-do

    .what-we-do {
        display: block;
        justify-content: none;
        padding: 20px;
        margin: 0px;

        .ij-grid {
            width: auto;
            padding: 10px;


        }
    }

    //ij-trust
    .ij-trust {
        display: block;
        background: $base-color;
        width: 100%;
        height: 200px;
        position: relative;
    
    
    
        .cutout {
            display: none;
        
        }

    
        .ij-trust-text {
            width: 100%;
            padding: 20px;
        }
    
        .trust-view {
            width: 100%;
            display: flex;
            margin: 10px 0px;
    
    
            .trust-images {
                width: 100px;
                height: 50px auto;
                padding: 5px;
                margin: 0px 40px;
            }
    
            img {
                width: 100%;
            }
    
    
    
    
        }
    }

      //..booked page ..//

      .wrapper{
        display: none;
    }
    .bookings{
        position: relative;
        top: -20px;
        margin: 0px;
        display: block;
        width: 100%;
        padding: 0px;
        padding-bottom: 100px;
        
        .tabs{
            // width: 70px;
            position: relative;
            margin: 1px 50px;
            img {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 10px;
                left: -40px;
            }
    
            p {
                font-size: 16px;
                font-weight: bold;
                color: $base-color;
    
            }
    
            span {
                // display: none;
                color: #999;
                font-size: 10px;
                font-weight: bold;
            }
    
            hr {
                width: 150%;
               display: none;
                margin: 0px !important;
            }
    
            .tabs:nth-child(3) hr {
                display: none;
                width: 100%;
            }
    
            hr.tab-active {
                display: inline;
                top: 70px;
                left: -40px;
                height: 3px;
                background: $base-color;
            }
        }
        
        .tab-control{
            margin: 50px 0px;
        }

        .booking-box {
            width: 100%;
            margin: 0px;
          
    
        }

        .booking-box div{
            width: auto;
        }
    }

    .booking-ticket{
        display: none;
    }
//end of quries

}

@media only screen and (min-width : 800px) and (max-width : 1024px) {
    /*--- Small tablet landscape ---*/
}

@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    /*--- Tablet landscape --- */
}