@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*--- Mobile portrait ---*/
}
@media only screen and (min-width: 480px) and (max-width: 595px) {
  /*--- Mobile landscape ---*/
  nav {
    padding: 30px 0px;
  }

  .btn-mobile {
    display: block;
    bottom: 40px;
    left: 30px;
  }

  .navbar {
    display: none;
  }

  .mobile {
    position: relative;
    margin: 50px 0px 0px 0px;
    width: 100%;
    height: auto;
    padding: 20px;
    background: #063693;
    display: none;
    z-index: 1000;
  }

  .nav-logo {
    left: 30px;
  }

  .nav-menu {
    display: block;
  }

  .nav-links {
    display: inline-block;
    min-width: 80%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin: 10px 0px;
    padding: 0px 5px;
  }

  .nav-menu {
    padding: 20px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 26px;
  }
  .nav-menu img {
    filter: brightness(0) invert(1);
  }

  main {
    height: 615px;
  }

  .home-content {
    display: block;
    justify-content: none;
  }
  .home-content .text-hidden {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 10px;
    display: block;
  }
  .home-content .home-intro {
    height: 100px;
  }
  .home-content .home-intro h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0px;
  }
  .home-content .home-intro .display-box {
    visibility: hidden;
  }

  .home-card {
    margin: 20px 5px;
    width: 420px;
    height: 450px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 100;
  }

  .home-secondary {
    display: block;
    position: relative;
    justify-content: none;
  }
  .home-secondary .home-text {
    position: relative;
    top: 50px;
    right: 20px;
    margin: 50px 20px;
  }
  .home-secondary h1 {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: inline;
    align-items: center;
  }
  .home-secondary p {
    font-size: 20px;
    font-weight: light;
    color: #fff;
  }
  .home-secondary .home-icons {
    display: inline-flex;
    position: absolute;
    top: 100px;
    right: 160px;
    float: left;
    padding: 20px;
    height: 200px;
  }
  .home-secondary .icon-box {
    cursor: pointer;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 20px;
  }
  .home-secondary .icon-box img {
    margin: 10px;
    width: 40px;
    height: 40px;
  }

  .what-we-do {
    display: block;
    justify-content: none;
    padding: 20px;
    margin: 0px;
  }
  .what-we-do .ij-grid {
    width: auto;
    padding: 10px;
  }

  .ij-trust {
    display: block;
    background: #063693;
    width: 100%;
    height: 500px;
    position: relative;
  }
  .ij-trust .cutout {
    display: none;
  }
  .ij-trust .ij-trust-text {
    width: 100%;
    padding: 20px;
  }
  .ij-trust .trust-view {
    width: 100%;
    display: block;
    margin: 10px 0px;
  }
  .ij-trust .trust-view .trust-images {
    width: 200px;
    height: 50px auto;
    padding: 5px;
    margin: 0px 150px;
  }
  .ij-trust .trust-view img {
    width: 100%;
  }

  .wrapper {
    display: none;
  }

  .bookings {
    position: relative;
    top: -20px;
    margin: 0px;
    display: block;
    height: auto;
    width: 100%;
    padding: 0px;
    padding-bottom: 100px;
  }
  .bookings .tabs {
    width: 70px;
    position: relative;
    margin: 1px 28px;
  }
  .bookings .tabs img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: -40px;
  }
  .bookings .tabs p {
    font-size: 16px;
    font-weight: bold;
    color: #063693;
  }
  .bookings .tabs span {
    display: none;
    color: #999;
    font-size: 10px;
    font-weight: bold;
  }
  .bookings .tabs hr {
    width: 150%;
    display: none;
    margin: 0px !important;
  }
  .bookings .tabs .tabs:nth-child(3) hr {
    display: none;
    width: 100%;
  }
  .bookings .tabs hr.tab-active {
    display: inline;
    top: 70px;
    left: -40px;
    height: 3px;
    background: #063693;
  }
  .bookings .tab-control {
    margin: 50px 0px;
  }
  .bookings .booking-box {
    width: 100%;
    margin: 0px;
  }
  .bookings .booking-box div {
    width: auto;
  }

  .booking-ticket {
    display: none;
  }

  .home-footer {
    display: inline-block;
  }
  .home-footer .home-footer-body {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
  }
  .home-footer .home-footer-body p {
    padding: 10px 0px;
    font-size: 14px;
    color: #fff;
    font-weight: 250;
  }

  .next-page {
    display: block;
  }
  .next-page .display-left {
    width: 100%;
  }
  .next-page .display-left .card-box {
    width: auto;
  }
  .next-page .display-left .card-box .ticket-time {
    margin: 30px 10px;
  }
  .next-page .display-right {
    width: 100%;
  }
  .next-page .display-right .card-box {
    width: auto;
  }
  .next-page .display-right .card-box .ticket-time {
    margin: 30px 10px;
  }
  .next-page .display-right .card-box {
    width: 100%;
    height: 250px auto;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(176, 176, 176, 0.25);
  }
  .next-page .display-right .card-box .cardbox-body p {
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3B567F;
  }

  .btn-notRounded {
    bottom: -61rem;
    left: 50px;
  }

  .sticky {
    left: 10px;
    bottom: -10px;
  }

  .sticky-green {
    bottom: -920px;
    left: 10px;
  }

  .section-page {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
  }
  .section-page .home-footer {
    display: inline-block;
  }
  .section-page .home-footer .home-footer-body {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
  }
  .section-page .home-footer .home-footer-body p {
    padding: 10px 0px;
    font-size: 14px;
    color: #fff;
    font-weight: 250;
  }
  .section-page .display-left {
    top: 0px;
    width: 100%;
  }
  .section-page .display-left .card-box {
    width: auto;
    height: auto;
    padding: 10px 0px;
    padding-bottom: 50px;
    margin: 0px 0px 200px 0px;
  }
  .section-page .display-left .card-box .ticket-time {
    margin: 30px 10px;
  }
  .section-page .display-left .card-box .cardform-input {
    width: 90%;
  }
  .section-page .display-right {
    width: 100%;
  }
  .section-page .display-right .card-box {
    width: auto;
  }
  .section-page .display-right .card-box .ticket-time {
    margin: 30px 10px;
  }
  .section-page .display-right .card-box {
    width: 100%;
    height: 250px auto;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(176, 176, 176, 0.25);
  }
  .section-page .display-right .card-box .cardbox-body p {
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3B567F;
  }

  .section2-page {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding-bottom: 200px;
  }
  .section2-page .home-footer {
    display: inline-block;
  }
  .section2-page .home-footer .home-footer-body {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
  }
  .section2-page .home-footer .home-footer-body p {
    padding: 10px 0px;
    font-size: 14px;
    color: #fff;
    font-weight: 250;
  }
  .section2-page .display-left {
    top: 0px;
    width: 100%;
  }
  .section2-page .display-left .card-box {
    width: auto;
    height: auto;
    padding: 10px 0px;
    padding-bottom: 50px;
    margin: 0px 0px 200px 0px;
  }
  .section2-page .display-left .card-box .ticket-time {
    margin: 30px 10px;
  }
  .section2-page .display-left .card-box .cardform-input {
    width: 90%;
  }
  .section2-page .display-left .card-extra {
    height: 250px;
    margin-bottom: -70px;
  }
  .section2-page .display-left .card-extra .alert {
    width: 80%;
  }
  .section2-page .display-left .card-kill {
    margin-bottom: -100px;
  }
  .section2-page .display-right {
    width: 100%;
  }
  .section2-page .display-right .card-box {
    width: auto;
  }
  .section2-page .display-right .card-box .ticket-time {
    display: none;
    margin: 0px 10px;
  }
  .section2-page .display-right .card-box {
    width: 100%;
    height: 250px auto;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(176, 176, 176, 0.25);
  }
  .section2-page .display-right .card-box .cardbox-body p {
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3B567F;
  }
}
@media only screen and (min-width: 595px) and (max-width: 690px) {
  /*--- Small tablet portrait ---*/
}
@media only screen and (min-width: 690px) and (max-width: 800px) {
  nav {
    display: none;
  }

  main {
    height: 92vh;
  }

  .home-content {
    display: block;
    justify-content: none;
  }
  .home-content .text-hidden {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 10px;
    display: block;
  }
  .home-content .home-intro {
    height: 100px;
  }
  .home-content .home-intro h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 0px;
  }
  .home-content .home-intro .display-box {
    visibility: hidden;
  }

  .home-card {
    margin: 20px 0px 0px 20px;
    width: 95%;
    height: 450px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 100;
  }

  .home-secondary {
    display: block;
    position: relative;
    justify-content: none;
  }
  .home-secondary .home-text {
    position: relative;
    top: 50px;
    right: 20px;
    margin: 50px;
  }
  .home-secondary h1 {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: inline;
    align-items: center;
  }
  .home-secondary p {
    font-size: 20px;
    font-weight: light;
    color: #fff;
  }
  .home-secondary .home-icons {
    display: inline-flex;
    position: absolute;
    top: 100px;
    right: 340px;
    float: left;
    padding: 20px;
    height: 200px;
  }
  .home-secondary .icon-box {
    cursor: pointer;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 20px;
  }
  .home-secondary .icon-box img {
    margin: 10px;
    width: 40px;
    height: 40px;
  }

  .what-we-do {
    display: block;
    justify-content: none;
    padding: 20px;
    margin: 0px;
  }
  .what-we-do .ij-grid {
    width: auto;
    padding: 10px;
  }

  .ij-trust {
    display: block;
    background: #063693;
    width: 100%;
    height: 200px;
    position: relative;
  }
  .ij-trust .cutout {
    display: none;
  }
  .ij-trust .ij-trust-text {
    width: 100%;
    padding: 20px;
  }
  .ij-trust .trust-view {
    width: 100%;
    display: flex;
    margin: 10px 0px;
  }
  .ij-trust .trust-view .trust-images {
    width: 100px;
    height: 50px auto;
    padding: 5px;
    margin: 0px 40px;
  }
  .ij-trust .trust-view img {
    width: 100%;
  }

  .wrapper {
    display: none;
  }

  .bookings {
    position: relative;
    top: -20px;
    margin: 0px;
    display: block;
    width: 100%;
    padding: 0px;
    padding-bottom: 100px;
  }
  .bookings .tabs {
    position: relative;
    margin: 1px 50px;
  }
  .bookings .tabs img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: -40px;
  }
  .bookings .tabs p {
    font-size: 16px;
    font-weight: bold;
    color: #063693;
  }
  .bookings .tabs span {
    color: #999;
    font-size: 10px;
    font-weight: bold;
  }
  .bookings .tabs hr {
    width: 150%;
    display: none;
    margin: 0px !important;
  }
  .bookings .tabs .tabs:nth-child(3) hr {
    display: none;
    width: 100%;
  }
  .bookings .tabs hr.tab-active {
    display: inline;
    top: 70px;
    left: -40px;
    height: 3px;
    background: #063693;
  }
  .bookings .tab-control {
    margin: 50px 0px;
  }
  .bookings .booking-box {
    width: 100%;
    margin: 0px;
  }
  .bookings .booking-box div {
    width: auto;
  }

  .booking-ticket {
    display: none;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
  /*--- Small tablet landscape ---*/
}
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  /*--- Tablet landscape --- */
}

/*# sourceMappingURL=/media.66353c54.css.map */